#headertop{
	position: relative;
	height: 36px;
	width: 950px;
	background-color: #eb6e1f;
	/*background-color:#d84519;*/
	
}

#logo{
	position:relative;
	float:right;
	background-image:url('../skins/int/images/int.png');
	width: 37px;
	height: 40px;
	margin: 5px 3px 0px 0px;
	background-repeat:no-repeat;
	
}