*{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	
}

body{
	background-color:#444444;	
}
#fakebar {
    background-image: url("../images/blackbar.png");
    height: 11px;
    position: absolute;
    top: 78px;
    width: 950px;
    z-index: 99;
}

#encapsulate{
	position: absolute;
	background-color:#F0F;
	width: 950px;
	height: 660px;
	font-family:Arial, Helvetica, sans-serif;	
	overflow:hidden;
}

#header{
	position: relative;
	height: 86px;
	background-color: #090;
	width: 950px;
}

#coursetitle{
	color: white;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    letter-spacing: 0.7px;
    padding: 10px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 2px 1px 2px #000000;
    width: 950px;
}

#headertop{
	position: relative;
	height: 36px;
	background-color:#F00;
	width: 950px;
	
}

#headermiddle{
	position: relative;
	height: 42px;
	background-color: #CCC;
	width: 950px;
	background-image:url('../images/headermiddle.png')
}

#headerbottom{

}

#content{
	position: relative;
	float:left;
	width: 950px;
	height: 512px;
	background-image:url('../images/contentBackground.jpg');
	background-position:0px -12px;
	background-repeat:no-repeat;
}


#contentleft{
	position: relative;
	float: left;
	height: 512px;
	width: 750px;
	/*background-color: #900;*/
}
#contentright{
	position: relative;
	float: right;
	height: 512px;
	width: 200px;
	/*background-color:#CCC*/
}
#navhandle{
	position: relative;
	float:left;
	width: 20px;
	height:50px;
	background-color: #333;
	margin: 200px 0px 0px 0px;
	background-image:url('../images/tabin.png');
	cursor: pointer;
}
#navmenu{
position: relative;
float: left;
width: 180px;
height: 512px;
/*background-color:#00F;*/
overflow-x: hidden;
overflow-y: hidden;
background-image:url('../images/navbackground.png');
}

#navmenu ul{
	list-style:none;	
}

#navmenu ul li{
	width: 160px;
	height: 90px;
	background-color:#0F0;
	margin: 10px 0px 0px 10px;
}
#footer{
	position: relative;
	float:left;
	width: 950px;
	height: 62px;
	background-image:url('../images/footerbackground.png');
}


#vidPlayer{
	position:relative;
	float:left;
	margin: 70px 0px 0px 55px;
}
#innerfooter {
    background-image: url("../images/footerInner.png");
    border: 3px solid #333333;
    float: left;
    height: 49px;
    margin: 0 5px 5px;
    position: relative;
    width: 934px;
}

#console{
 position: absolute;	
 border: dashed #666;
 padding: 7px 7px 7px 7px;
 background-color: white;
 width: 700px;
 height: 100px;
 overflow:auto;
}

#headerdecoration{
position:relative;
float: left;
width:950px;
height:36px;
background-image:url('../images/top_950.png');	
}

